.cardWrapper {
  composes: cardWrapper from "../../../App.module.css";
}
.actionButtonWrap {
  composes: actionButtonWrap from "../StepPhoneEmail/StepPhoneEmail.module.css";
  margin-top: 20px;
}
.bottomParagraph {
  composes: bottomParagraph from "../StepPhoneEmail/StepPhoneEmail.module.css";
}
.buttonWrapper {
  margin-top: 10px;
}
.resendOTP {
  /* margin-top: ; */
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
