.input {
  background: #323232;
  border: none;
  padding: 15px;
  color: #fff;
  width: 50px;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
}
.outerdiv {
  display: flex;
  gap: 10px;
}
